body{
    background-color: rgb(255, 253, 250);
}

.border{
    border: 1px solid rgb(185, 172, 172);
    height: 500px;
    position: relative;
}
.p{
    text-size-adjust: 10px;
}


.heading{
    color: black;
    text-align: center;
    position: relative;
}
.wed{
    background-color:white ;
    padding: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}
.heading::before{
    content: "";
    position: absolute;
    height: 50px;
    width: 85%;
    top: 15px;
    right: 7%;
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);
    z-index: -1;
    border-bottom: 0px;
}
.border::after{
    content: "";
    position: absolute;
    height: 50px;
    width: 85%;
    bottom: 10px;
    right: 7%;
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);
    z-index: -1;
    border-top: 0px;

}
